<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>star</key>
		<integer>1</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>一环南路1段9号二楼附15号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/0ed356325af3203738f23fd565531afb.jpg</string>
		<key>name</key>
		<string>河马电竞网吧</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>star</key>
		<real>4.5</real>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>临港路3段16号48栋3层1室</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/807a45d331f214da8a061e48ecb848d7.jpg</string>
		<key>name</key>
		<string>游艺电竞馆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>star</key>
		<real>3.5</real>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>科华街1号附13-14号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/c2b9977ee8be000828801bd510e533db.jpg</string>
		<key>name</key>
		<string>麦田电竞馆（科华店）</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>star</key>
		<real>4.5</real>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>武侯区二环路西一段82号2号楼301号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/d553c62a37dbc68fc463d5928fde19b1.jpg</string>
		<key>name</key>
		<string>基因电竞馆（双楠店）</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>star</key>
		<real>4.5</real>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>锦江区-东大街188号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/df546973af075af90c0599e0776bb6fe.jpg</string>
		<key>name</key>
		<string>电先生竞小姐电竞馆（太古里店）</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>star</key>
		<integer>5</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>锦江区北街-青石桥北路44号-米瑞购物广场</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/e84fa91ec086e1551c630bda5d14c60f.jpg</string>
		<key>name</key>
		<string>绿树电竞馆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>star</key>
		<integer>4</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>武侯区-科华北路65号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/ebfcec7cd46004b7ee37dcf0dd6ee773.jpg</string>
		<key>name</key>
		<string>游加电竞</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>star</key>
		<integer>1</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>武侯区-长逸路-西航路yu高攀巷</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/87ff7ca52cfd42af202013dee8355cd4.jpg</string>
		<key>name</key>
		<string>橘子电竞</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>star</key>
		<integer>5</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>双流区-星月路81号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/23c333ac000794a59b04f8971ce41f1e.jpg</string>
		<key>name</key>
		<string>外星人电竞</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>star</key>
		<integer>1</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>温江区-南熏大道二段与柳林路交叉路口</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/ca4c37745dc83022f3a3eef8e613d8cf.jpg</string>
		<key>name</key>
		<string>超音速电竞（御景店）</string>
	</dict>
	<dict>
		<key>id</key>
		<string>11</string>
		<key>star</key>
		<integer>1</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>温江区-南熏大道二段与柳林路交叉路口</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/627ae05fdf81175a3e9238d3f62fe50d.jpg</string>
		<key>name</key>
		<string>飘逸流云电竞网咖</string>
	</dict>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>star</key>
		<integer>5</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>武侯区-富华北路666号漾体育公园2栋2楼215号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/8da1e70733554638dff967b0cc500452.jpg</string>
		<key>name</key>
		<string>机动电竞馆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>13</string>
		<key>star</key>
		<integer>5</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>双流区-应龙南一路28号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/36aba72ca8dd6ce63b8078e587b170c1.jpg</string>
		<key>name</key>
		<string>熊喵电竞馆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>14</string>
		<key>star</key>
		<integer>0</integer>
		<key>hot</key>
		<false/>
		<key>address</key>
		<string>龙泉驿区-驿生路153附近</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/99a72b83a9157971f213ec2183a1d691.jpg</string>
		<key>name</key>
		<string>网剧电竞馆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15</string>
		<key>star</key>
		<real>4.5</real>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>金牛区-马安东路恒大雅苑6栋2层201号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/c8ce9ca5894bbc5d8e104b3f0563fee0.jpg</string>
		<key>name</key>
		<string>香蕉网咖电竞馆（曹家巷店）</string>
	</dict>
	<dict>
		<key>id</key>
		<string>16</string>
		<key>star</key>
		<integer>4</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>双流区-丽都街176号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/df419c04c95fc7d58cc6f6f34a2fb7fd.jpeg</string>
		<key>name</key>
		<string>绿野网吧电子竞技馆（丽都街）</string>
	</dict>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>star</key>
		<integer>2</integer>
		<key>hot</key>
		<true/>
		<key>address</key>
		<string>武侯区-龙门巷6号附16号</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/620fe295d4e1d96e13c7d431fcc15d5c.jpeg</string>
		<key>name</key>
		<string>飞易网咖电竞馆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>18</string>
		<key>star</key>
		<integer>0</integer>
		<key>hot</key>
		<false/>
		<key>address</key>
		<string>成华区-驷马桥与洪山路交叉路口往西附近</string>
		<key>pic</key>
		<string>http://image.yysc.online/files/2020/4/26/9001559234ac9de5900969ad3735b6ad.jpg</string>
		<key>name</key>
		<string>绿树电竞馆（东立国际店）</string>
	</dict>
</array>
</plist>
