<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>QGhappy</string>
				<key>lose</key>
				<integer>5</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>QGhappy战队</string>
				<key>win</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>XM</string>
				<key>lose</key>
				<integer>2</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>XQ战队</string>
				<key>win</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>GK</string>
				<key>lose</key>
				<integer>11</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>GK战队</string>
				<key>win</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>AG</string>
				<key>lose</key>
				<integer>8</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>AG超玩会</string>
				<key>win</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>WE</string>
				<key>lose</key>
				<integer>18</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>WE战队</string>
				<key>win</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>EDG.M</string>
				<key>lose</key>
				<integer>3</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>EDG.M</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>JV</string>
				<key>lose</key>
				<integer>4</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>JC战队</string>
				<key>win</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string></string>
				<key>lose</key>
				<integer>1</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>AS仙阁</string>
				<key>win</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>RNG.M</string>
				<key>lose</key>
				<integer>16</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>RNG.M</string>
				<key>win</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>eStar</string>
				<key>lose</key>
				<integer>17</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>eStar战队</string>
				<key>win</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>YTG</string>
				<key>lose</key>
				<integer>7</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>YTG战队</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>VG</string>
				<key>lose</key>
				<integer>19</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>sViper战队</string>
				<key>win</key>
				<integer>16</integer>
			</dict>
		</array>
		<key>moduleName</key>
		<string>王者荣耀</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>OMG</string>
				<key>lose</key>
				<integer>2</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>OMG</string>
				<key>win</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>BLG</string>
				<key>lose</key>
				<integer>4</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>BLG</string>
				<key>win</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>LNG</string>
				<key>lose</key>
				<integer>1</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>LNG</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>SN</string>
				<key>lose</key>
				<integer>11</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>SN</string>
				<key>win</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>WE</string>
				<key>lose</key>
				<integer>10</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>WE</string>
				<key>win</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>V5</string>
				<key>lose</key>
				<integer>18</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>V5</string>
				<key>win</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>edg</string>
				<key>lose</key>
				<integer>5</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>EDG</string>
				<key>win</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>LGD</string>
				<key>lose</key>
				<integer>4</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>LGD</string>
				<key>win</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>RNG</string>
				<key>lose</key>
				<integer>8</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>RNG</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>RW</string>
				<key>lose</key>
				<integer>10</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>RW</string>
				<key>win</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>es</string>
				<key>lose</key>
				<integer>1</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>ES</string>
				<key>win</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>DMO</string>
				<key>lose</key>
				<integer>7</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>DMO</string>
				<key>win</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>JDG</string>
				<key>lose</key>
				<integer>12</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>JDG</string>
				<key>win</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>IG</string>
				<key>lose</key>
				<integer>19</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>IG</string>
				<key>win</key>
				<integer>17</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>FPX</string>
				<key>lose</key>
				<integer>3</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>FPX</string>
				<key>win</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>VG</string>
				<key>lose</key>
				<integer>15</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>VG</string>
				<key>win</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>tes</string>
				<key>lose</key>
				<integer>10</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>TES</string>
				<key>win</key>
				<integer>16</integer>
			</dict>
		</array>
		<key>moduleName</key>
		<string>英雄联盟</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>OMG</string>
				<key>lose</key>
				<integer>4</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>OMG</string>
				<key>win</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>STK</string>
				<key>lose</key>
				<integer>19</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>SnakeTC</string>
				<key>win</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>LGD</string>
				<key>lose</key>
				<integer>12</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>LGD</string>
				<key>win</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>V5</string>
				<key>lose</key>
				<integer>4</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>V5</string>
				<key>win</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>Lstars</string>
				<key>lose</key>
				<integer>18</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>LStars</string>
				<key>win</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>KG</string>
				<key>lose</key>
				<integer>17</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>KG</string>
				<key>win</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>4AM</string>
				<key>lose</key>
				<integer>1</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>4AM</string>
				<key>win</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>Tianba</string>
				<key>lose</key>
				<integer>19</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>1246</string>
				<key>win</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>SSS</string>
				<key>lose</key>
				<integer>18</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>SSS</string>
				<key>win</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>FTD</string>
				<key>lose</key>
				<integer>10</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>FTD</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>XQ</string>
				<key>lose</key>
				<integer>4</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>XQ</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>17</string>
				<key>lose</key>
				<integer>2</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>17</string>
				<key>win</key>
				<integer>5</integer>
			</dict>
		</array>
		<key>moduleName</key>
		<string>绝地求生</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>SFS</string>
				<key>lose</key>
				<integer>18</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>旧金山震动队</string>
				<key>win</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>CDH</string>
				<key>lose</key>
				<integer>7</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>成都猎人队</string>
				<key>win</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>上海龙之队</string>
				<key>lose</key>
				<integer>1</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>上海龙之队</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>NYE</string>
				<key>lose</key>
				<integer>19</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>洛杉矶英勇队</string>
				<key>win</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>HZS</string>
				<key>lose</key>
				<integer>3</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>杭州闪电队</string>
				<key>win</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>GZC</string>
				<key>lose</key>
				<integer>9</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>广州冲锋队</string>
				<key>win</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>WAS</string>
				<key>lose</key>
				<integer>9</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>首尔王朝队</string>
				<key>win</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>TDR</string>
				<key>lose</key>
				<integer>17</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>温哥华泰坦队</string>
				<key>win</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>HDU</string>
				<key>lose</key>
				<integer>16</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>洛杉矶角斗士队</string>
				<key>win</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>DAL</string>
				<key>lose</key>
				<integer>12</integer>
				<key>score</key>
				<integer>0</integer>
				<key>teamName</key>
				<string>达拉斯燃料队</string>
				<key>win</key>
				<integer>12</integer>
			</dict>
		</array>
		<key>moduleName</key>
		<string>守望先锋</string>
	</dict>
</array>
</plist>
